# =========================
# General
# =========================
*.log
*.tmp
*.swp
*~
.cache/
.DS_Store

# =========================
# Suckless build artifacts
# =========================
*.o
*.a
*.so
*.out
*.exe

dwm/dwm
dmenu/dmenu
st/st
dwmblocks/dwmblocks

# build directories
build/
dist/

# =========================
# Fish shell
# =========================
fish/.config/fish/fish_variables

# =========================
# SSH (never track private keys)
# =========================
.ssh/

